In [1]:
import pandas as pd
import numpy as np
from utils import import_and_transform

In [2]:
user_data = import_and_transform("Data/test.parquet")

Processed 2904 users
Churn rate: 0.00%

In [3]:
user_data

,userId,gender,registration,level,num_sessions,max_item_in_session,ts_min,ts_max,avg_session_length_seconds,num_songs_played,unique_artists,total_length,days_active,membership_length,churned
0,1000655,0.0,2018-09-14 11:53:55,0,10,178,2018-10-03 09:00:59,2018-11-15 18:14:51,18280.601156,262,239,65479.87470,43,62,0
1,1000963,1.0,2018-09-07 02:07:18,1,21,481,2018-10-04 23:29:51,2018-11-18 00:08:19,48621.348562,2112,1365,526127.55185,44,71,0
2,1001129,1.0,2018-08-25 10:13:19,1,8,220,2018-10-02 01:28:58,2018-11-18 22:56:10,29599.793413,547,452,139026.22059,47,85,0
3,1001963,0.0,2018-10-10 06:49:13,0,16,168,2018-10-10 06:49:13,2018-11-19 20:39:31,20165.623955,539,459,134683.68053,40,40,0
4,1002283,1.0,2018-09-26 21:29:18,1,24,1059,2018-10-01 20:10:56,2018-11-19 18:17:18,103566.736774,3160,1880,789821.80947,48,53,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2899,1999455,0.0,2018-05-20 17:17:49,1,18,422,2018-10-07 17:10:03,2018-11-16 17:42:49,46051.384854,1330,970,334336.59881,40,180,0
2900,1999691,1.0,2018-08-25 09:53:42,1,14,236,2018-10-08 13:12:22,2018-11-17 01:57:44,35299.420520,1153,890,290420.40578,39,83,0
2901,1999720,0.0,2018-09-16 07:18:13,1,16,1082,2018-10-05 12:52:44,2018-11-15 10:33:37,104897.305085,3374,2021,832373.45808,40,60,0
2902,1999908,1.0,2018-09-17 10:31:03,0,38,243,2018-10-01 00:02:20,2018-11-18 07:51:05,18906.357412,1216,872,302150.81515,48,61,0
2903,1999996,1.0,2018-07-28 15:32:48,0,17,139,2018-10-02 11:14:56,2018-11-13 09:16:39,11953.031835,396,348,97759.45463,41,107,0