In [1]:
import pandas as pd
import numpy as np
from utils import import_and_transform

In [3]:
user_data = import_and_transform("Data/train.parquet")

Only integers in userId - transformation successful

In [4]:
user_data

,userId,gender,registration,location,level,num_sessions,max_item_in_session,ts_min,ts_max,avg_session_length,num_songs_played,unique_artists,total_length,churned,days_active,membership_length
0,1000025,1,2018-07-10 09:30:08,"New Haven-Milford, CT",1,17,486,2018-10-02 08:59:29,2018-10-18 20:33:05,0 days 13:42:02.882294264,1662,1162,417296.59169,1,16,100
1,1000035,0,2018-09-12 19:28:22,"Columbia, SC",1,21,228,2018-10-05 18:29:46,2018-11-15 03:53:11,0 days 07:31:30.928020565,1266,916,310364.86590,0,40,63
2,1000083,1,2018-09-07 18:01:49,"Cincinnati, OH-KY-IN",1,11,171,2018-10-01 05:37:45,2018-10-12 10:04:58,0 days 06:07:04.669463087,501,427,122606.27093,1,11,34
3,1000103,0,2018-09-22 07:27:25,"Cleveland-Elyria, OH",0,3,53,2018-10-04 17:31:17,2018-11-08 18:28:40,0 days 02:02:59.360000,57,56,13554.73009,0,35,47
4,1000164,0,2018-08-12 09:32:01,"Phoenix-Mesa-Scottsdale, AZ",1,15,215,2018-10-01 17:40:18,2018-11-19 13:04:25,0 days 08:36:20.251945525,847,660,209060.65753,0,48,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19135,1999781,1,2018-08-31 02:26:28,"San Diego-Carlsbad, CA",1,37,679,2018-10-01 05:53:44,2018-11-19 16:41:31,0 days 17:24:32.426458938,3165,1890,798275.42382,0,49,80
19136,1999847,0,2018-09-26 04:22:19,"Columbus, OH",1,4,266,2018-10-04 17:19:17,2018-10-18 02:10:46,0 days 10:04:51.588652482,322,289,81391.63189,1,13,21
19137,1999848,1,2018-08-31 07:58:01,"San Francisco-Oakland-Hayward, CA",0,29,172,2018-10-01 14:36:05,2018-11-18 06:28:48,0 days 04:58:44.983715766,1004,758,249532.88020,0,47,78
19138,1999892,0,2018-08-20 15:55:52,"Virginia Beach-Norfolk-Newport News, VA-NC",0,11,94,2018-10-05 15:34:27,2018-10-26 22:26:14,0 days 03:10:00.152654867,315,289,78200.62120,1,21,67
19139,1999905,1,2018-07-24 01:52:55,"Cincinnati, OH-KY-IN",0,13,77,2018-10-05 08:33:46,2018-11-17 19:28:08,0 days 02:25:21.191304347,259,230,64333.04820,0,43,116